{% schema %}
{
    "name": "Banner",
    "settings": [
        {
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name",
            "default": "TISSO VISON"
        },
        {
            "type": "text",
            "id": "top_bar_text",
            "label": "Top Bar Text",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type": "text",
            "id": "top_bar_button",
            "label": "Top Bar Button",
            "default": "Choose gift"
        },
        {
            "type": "url",
            "id": "top_bar_button_link",
            "label": "Top Bar Button Link"
        },
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "The Gift Guide"
        },
        {
            "type": "textarea",
            "id": "subheading",
            "label": "Subheading",
            "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
        },
        {
            "type": "text",
            "id": "banner_button",
            "label": "Banner Button",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "banner_button_link",
            "label": "Banner Button Link"
        },
        {
            "type": "text",
            "id": "bottom_bar_text",
            "label": "Bottom Bar Text",
            "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
        },
    ]
}
{% endschema %}

<section class="custom-banner">
    <header>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
                <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
            </svg>
        </div>
    </header>

    <div class="custom-banner-top-bar">
        <p>{{ section.settings.top_bar_text }}</p>
        <a href="{{ section.settings.top_bar_button_link }}">
            {{ section.settings.top_bar_button }}
        </a>
    </div>

    <div class="custom-banner-content">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.subheading }}</p>
        <a href="{{ section.settings.banner_button_link }}">
            {{ section.settings.banner_button }}
        </a>
    </div>

    <div class="custom-banner-image">
        <img src="{{ section.settings.banner_image }}" width="{{ section.settings.banner_image.width }}" height="{{ section.settings.banner_image.height }}">
    </div>

    <div class="custom-banner-bottom-bar">
        <p>{{ section.settings.bottom_bar_text }}</p>
    </div>
</section>